<h3>My Teams</h3>
<ul class="teams">
  <% @teams.each do |team| %>
     <li><%= link_to team.name, team %></li>
  <% end %>
</ul><br>

<% if can? :manage, Team %>
  <%= link_to "New Team", new_team_path, class: "btn btn-success" %>
<% end %>
